/* Generic */

@font-face {
    font-family: 'mayeka-regular';
    font-style: normal;
    src: url('/fonts/Mayeka_Regular.otf');
}

body {
    font-family: 'mayeka-regular', Georgia, "Times New Roman", serif;
    background-color: #F8F8F8;
}

/* Buttons */

.btn-primary {
  background-color: #F89A29;
  border-color: #080808;
  color: #000;
  font-weight: bold;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:hover:active,
.btn-primary:focus {
  background-color: #ff7122;
  border-color: #080808;
  color: #F8F8F8;
}

/* Jumbotrons */

@media screen and (min-width: 768px) {
  .jumbotron .h1, .jumbotron h1 {
    font-size: 40px;
  }

  .jumbotron p {
    font-size: 19px;
  }
}