#home-header {
  width: 100%;
  height: 1000px;
  background-image: url("/images/home-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-intro {
  margin: auto;
  position: relative;
  top: 20%;
  color: #F8F8F8;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding: 10px;
}

.home-intro h1 {
  color: #B3D236;
  font-weight: bold;
}

.home-intro img {
  width: 40%;
}

.site-perks i {
  color: #b3d236;
  font-size: 96px;
  display: block;
  text-align: center;
}

.site-perks h2 {
  text-align: center;
}

.site-perks h3 {
  text-align: center;
  font-size: 22px;
}

.site-perks p {
  text-align: justify;
}

.site-presentation .row {
  margin-bottom: 30px;
}

.site-presentation .col-md-12 {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.site-presentation .col-md-4 {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  color: #FFF;
  position: relative;
  top: 10%;
  text-align: justify;
}

.site-presentation .btn-primary {
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.footer {
  background-color: rgb(51, 51, 51);
  color: #F8F8F8;
}

.footer .social-links {
  text-align: center;
}

.footer a {
  font-size: 48px;
  color: #b3d236;
  margin-left: 15px;
}

.footer a:hover {
  text-decoration: none;
  color: #F89A29;
}

@media (min-width: 768px) {
  #home-header {
    background-attachment: fixed;
  }

  .home-intro {
    width: 40%;
    padding: 30px;
  }

}
