
.carousel-inner {
  height: 500px;
}

.carousel-inner .container {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  top: 100px;
  background-color: rgba(0,0,0,0.4);
  height: 250px;
}

.search-box {
  padding: 20px 0;
}

.search-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #F8F8F8;
}

.marketing {
  min-height: 1000px;
}

hr {
  border-color: rgb(140, 147, 98);
}

.featurette-header {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.featurette-header h2 {
  font-size: 22px;
}

.featurette-header-text {
  width: 80%;
  padding: 15px;
  background-color: rgba(0,0,0,0.7);
  color: #FFF;
  text-align: center;
  margin: auto;
  position: relative;
  top: 10%;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-divider {
    margin: 50px 0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 35px;
  }
  .search-fixed {
     width: inherit;
  }

  .featurette-header-text {
    width: 40%;
  }
  .featurette-header-text h2 {
    font-size: 30px;
  }
}
