


hr {
  border-color: rgb(140, 147, 98);
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .featurette-divider {
    margin: 50px 0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 35px;
  }
  .search-fixed {
     width: inherit;
  }
}
