.panel-default>.panel-heading {
  font-size: 19px;
  color: #FFF;
  background-color: rgb(140, 147, 98);
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #F8F8F8;
}

@media screen and (min-width: 768px) {
  .yt-container iframe {
      max-width: 1170px;
      padding: 15px;
  }
}

.yt-container {
  margin-bottom: 15px;
}

.panel-ingredients h4 {
  font-weight: bold;
}

.panel-steps h4 {
  font-weight: bold;
}

.panel-steps p:after {
  content: '';
  width: 200px;
  height: 1px;
  background: rgb(196, 216, 119);
  display: block;
  margin: 8px auto;
}

.panel-steps p.last-step:after {
  height: 0px;
}
