<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>Plan'n'Cook - Page non trouvée</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
<body>

<h1>Oups... </h1>
<p>Cette page n'existe pas ?</p>

</body>
</html>
